@import './normalize';
@import './header';

body {
  padding: 20px;
  background-color: #efefef;
}

h1 {
  margin-bottom: 5px;
}

p {
  line-height: 1.6;
}

.quote {
  padding-left: 50px;

  &__long {
    padding-left: 100px;
  }
}

.sup {
  font-size: 0.1em;
  color: black;
  position: relative;
  top: -10px;
  margin-right: 3px;
}

.jesus {
  color: red;
}

.bold {
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .quote {
    padding-left: 25px;

    &__long {
      padding-left: 50px;
    }
  }
}
